@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  position: static;
  top: -136px;
  left: 0px;
  transition: 0.3s all ease;
}

.navbar.active {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 60;
  transition: 0.3s all ease;
  box-shadow: 0px 5px 5px rgba(171, 153, 77, 0.3);
}
